<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>itemList</title>
    <link rel="stylesheet" th:href="@{/css/cart/itemList.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="itemList">
    <div class="itemList-con">
        <div class="title">
            <h1>상품목록</h1>
        </div>

            <div th:each="item: ${itemList}" class="grid">
                <div class="top">
                <span>상품명: </span><span th:text="${item.itemTitle}"></span><br>
                <span th:text="${item.itemDetail}"></span>
                </div>
                <div class="bottom">
                <span>가격: </span><span th:text="${item.itemPrice}"></span> <br>
                <a  class="detail-btn" th:href="@{/item/detail/{id}(id=${item.id})}"><span th:text="${item.itemTitle}"></span></a>
                </div>
            </div>

    </div>
</div>
</body>
</html>