<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>itemList</title>
    <link rel="stylesheet" th:href="@{/css/cart/itemList.css}">
</head>
<body>
<div th:replace="~{fragments/common/header :: headerFragment}"></div>
<div class="itemList">
    <div class="itemList-con">
        <div class="title">
            <h1>상품목록</h1>
        </div>

            <div th:each="item: ${itemList}" class="grid">
                <div class="top">
                    <ul>
                        <li>
                <span>상품명: </span><span th:text="${item.itemTitle}"></span><br>
                <span th:text="${item.itemDetail}"></span>
                        </li>
                        <li>
                            <div class="fileImage">
                                <th:block th:if="${item.attachFile==1}">
                                    <img th:src="@{|/upload/${item.newFileName}|}" alt="업로드이미지">
                                </th:block>
                                <th:block th:unless="${item.attachFile==1}">
                                    <img src="https://placehold.co/400x500?text=NOIMAGE" alt="이미지대체문구">
                                </th:block>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="bottom">
                <span>가격: </span><span th:text="${item.itemPrice}"></span> <br>
                <a  class="detail-btn" th:href="@{/item/detail/{id}(id=${item.id})}"><span th:text="${item.itemTitle}"></span></a>
                </div>
            </div>

    </div>
</div>
</body>
</html>